.catalog {
  border-top: 2px solid $grey;
  margin-bottom: 42px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: $mobile;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 2px solid $grey;

  &--offers {
    text-align: center;
  }
}

.catalog__item-wrap {
  display: flex;
  flex-direction: column;
  padding-top: 2px;
  padding-bottom: 21px;
}

.catalog__wrap-img-description {
  display: flex;
  justify-content: space-between;
}

.catalog__img-link {
  display: flex;
  justify-content: center;
  width: 140px;
  height: 144px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.catalog__item-title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;
  padding-right: 60px;
  word-break: break-all;
}

.catalog__item-description {
  display: flex;
  flex-direction: column;
  width: calc(100% - 140px);
  padding: 18px 0;
}

.catalog__title-link {
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  cursor: pointer;
}

.catalog__list-inner {
  margin: 0;
  padding: 0;
}

.catalog__value-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
}

.catalog__product-description {
  word-break: break-all;
}

.catalog__offers {
  position: relative;
  padding-top: 78px;
  background-color: $white;
  color: $black;
  padding-bottom: 0;

  &::before {
    position: absolute;
    content: "";
    top: 25px;
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;
    background-image: url("../img/icon-plus-mobile.svg");
    opacity: 0.2;
  }
}

.catalog__paragraph {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 18px;
}

.catalog__link {
  &--show {
    background-color: $lightgrey;
    color: $black;

    &:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: $darkgrey;
    }
  }
}

@media (min-width: $tablet) {
  .catalog {
    border-top: none;
    margin: 58px 0;
    margin-top: 28px;
  }

  .catalog__inner {
    width: $tablet;
    margin: 0 auto;
    padding: 0 30px;
  }

  .catalog__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .catalog__item {
    padding: 0;
    padding-top: 80px;
    width: 324px;
    border-bottom: none;
    margin: 30px 0;

    &--offers {
      padding-bottom: 0;
      border: 1px solid $lightgrey;
      margin-top: 110px;
    }
  }

  .catalog__item-wrap {
    flex-direction: column;
    height: 100%;
    background-color: $lightgrey;
    padding-bottom: 38px;

    &--offers {
      padding: 40px 38px;
      padding-top: 95px;
      background-color: $white;
    }
  }

  .catalog__wrap-img-description {
    flex-direction: column;
    justify-content: stretch;
  }

  .catalog__img-link {
    align-items: flex-end;
    width: 100%;
    height: 208px;
    margin-top: -80px;
  }

  .catalog__item-title {
    padding: 0 58px;
    font-size: 20px;
  }

  .catalog__item-description {
    text-align: center;
    width: 100%;
    padding: 35px 38px;
    padding-bottom: 0;
  }

  .catalog__list-inner {
    margin: 0;
    margin-bottom: 34px;
  }

  .catalog__value-wrap {
    font-size: 16px;
    line-height: 1;
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid $grey;
  }

  .catalog__link {
    width: calc(100% - 76px);
    margin: 0 auto;
    margin-top: auto;

    &--show {
      width: 100%;
    }
  }

  .catalog__offers {
    font-size: 20px;
    line-height: 1;
    padding: 0 45px;
    padding-top: 0;
    margin: 0;
    margin-bottom: 12px;
    margin-top: -10px;

    &::before {
      top: -110px;
      left: calc(50% - 30px);
      width: 60px;
      height: 60px;
      background-image: url("../img/icon-plus.svg");
    }
  }

  .catalog__paragraph {
    font-size: 16px;
    line-height: 1;
    padding: 0 30px;
    margin-bottom: 90px;
  }
}

@media (min-width: $desktop) {
  .catalog {
    margin: 43px 0;
    margin-bottom: 60px;
  }

  .catalog__inner {
    width: $desktop;
    padding: 0 40px;
  }

  .catalog__list {
    justify-content: flex-start;
  }

  .catalog__item {
    width: 245px;
    margin-bottom: 35px;
    margin-right: 80px;
  }

  .catalog__item-wrap {
    padding-bottom: 40px;

    &--offers {
      padding-top: 75px;
    }
  }

  .catalog__item:nth-child(4n) {
    margin-right: 0;
  }

  .catalog__list-inner {
    margin-bottom: 0;
  }

  .catalog__item-title {
    padding: 0 18px;
  }

  .catalog__item-description {
    padding: 33px 38px;
    padding-bottom: 28px;
  }

  .catalog__title-link {
    padding: 0;
    margin-bottom: 18px;
  }

  .catalog__paragraph {
    padding: 0;
  }

  .catalog__link {
    &--show {
      &:hover,
      &:focus {
        background-color: $darkgrey;
      }
    }
  }

  .catalog__offers {
    padding: 0 15px;
    margin-bottom: 8px;
    margin-top: 10px;

    &::before {
      top: -115px;
    }
  }
}
