.contacts {
  margin: 0;
}
.contacts__map {
  width: $mobile;
  margin: 0 auto;
  margin-top: -38px;
}
.contacts__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 5;
  background-color: $lightgrey;
  padding-top: 27px;
  padding-bottom: 27px;
  &--index {
    background-color: $white;
  }
}
.contacts__paragraph {
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
  margin: 0;
  width: 50%;
}
.contacts__address {
  width: 50%;
  line-height: 20px;
  font-style: normal;
}
@media (min-width: $tablet) {
  .contacts__map {
    width: $tablet;
    margin-top: 0;
  }
  .contacts__map img  {
    width: $tablet;
    height: 400px;
  }
  .contacts__inner {
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 71px;
    padding-right: 71px;

  }
  .contacts__paragraph {
    font-size: 20px;
    line-height: 25px;
    width: 155px;
  }
  .contacts__address {
    width: 155px;
    text-align: right;
    line-height: 20px;
  }
  .contacts__avenu {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 22px;
  }
}
@media (min-width: $desktop) {
  .contacts {
    position: relative;
  }
  .contacts__map {
    width: $desktop;
  }
  .contacts__map img  {
    width: $desktop;
    height: 400px;
  }
  .contacts__inner {
    position: absolute;
    z-index: 100;
    width: 570px;
    padding: 64px 76px;
    top: 95px;
    left: calc(1300px / 2 - 570px);
  }
}
