.example {
  background-color: $lightgrey;
  padding-bottom: 5px;
}

.example__inner {
  padding-top: 17px;
  padding-bottom: 17px;
  margin-bottom: 5px;
}

.example__title {
  margin: 0;
  margin-bottom: 23px;
}

.example__description {
  padding-right: 10px;
  margin-bottom: 25px;
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__item-value {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  width: 124px;
  padding: 14px 0;
  text-align: center;
  border: 2px solid $grey;
  border-radius: 2px;
}

.example__item-description {
  width: 84px;
  padding: 0 5px;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  margin-top: -10px;
  background-color: $lightgrey;
}

.example__paragraph {
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet) {
  .example {
    min-height: 1082px;
    padding-bottom: 0;
    background-color: $white;
  }

  .example__inner {
    padding-top: 4px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .example__title {
    padding: 40px 0;
  }

  .example__description {
    margin-bottom: 55px;
  }

  .example__wrap {
    display: flex;
    justify-content: space-between;
  }

  .example__list {
    width: 365px;
    margin-bottom: 0;
  }

  .example__item-value {
    font-size: 30px;
    line-height: 38px;
    width: 162px;
  }

  .example__item-description {
    background-color: $white;
    width: auto;
    padding: 10px;
    font-size: 14px;
    line-height: 1;
    margin-top: -18px;
  }

  .example__paragraph {
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    width: 222px;
    margin: 0;
    padding-top: 5px;
  }
}

@media (min-width: $desktop) {
  .example {
    min-height: 632px;
    padding-bottom: 0;
    background: none;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      z-index: 2;
      top: 0;
      left: 0;
      width: calc(100vw - 1300px);
      height: 100%;
      background-image: linear-gradient($white 170px, $lightgrey 170px, $lightgrey 632px);
    }

    &::after {
      position: absolute;
      content: "";
      z-index: 0;
      top: 0;
      right: 0;
      width: calc(100vw - 1300px);
      height: 100%;
      background-image: linear-gradient($white 170px, $examplegrey 170px, $examplegrey 632px);
    }
  }

  .example__desktop-flex {
    display: flex;
    justify-content: flex-start;
    width: $desktop;
    margin: 0 auto;
  }

  .example__inner {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      z-index: -1;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient($white 170px, $lightgrey 170px, $lightgrey 632px);
    }
  }

  .example__title {
    margin-bottom: 110px;
    padding: 34px 0;
  }

  .example__list {
    margin-bottom: 37px;
  }

  .example__description {
    width: 445px;
    margin-bottom: 67px;
  }

  .example__wrap {
    flex-direction: column;
    align-items: stretch;
  }

  .example__item-value {
    padding-bottom: 17px;
  }

  .example__item-description {
    background-color: $lightgrey;
  }

  .example__paragraph {
    width: auto;
    text-align: left;
  }

  .example__cost {
    margin-right: 65px;
  }
}
