.extra {
  border-top: 3px solid $lightgreen;
}

.extra__list {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
}

.extra__item {
  list-style: none;
  padding: 13px 0;
  border-top: 2px solid $grey;
  margin-bottom: 3px;
}

.extra__item:last-child {
  border-bottom: 2px solid $grey;
}

.extra__title {
  transform: translate(20px, -17px);
  font-size: 24px;
  line-height: 1;
  background-color: $white;
  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
  margin: 0;
  margin-left: -40px;
  padding-left: 20px;
  margin-bottom: 18px;
}

.extra__item-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;
  margin: 0;
}

.extra__item-description {
  display: flex;
  justify-content: space-between;
  line-height: 14px;
  margin-bottom: 14px;
}

@media (min-width: $tablet) {
  .extra {
    margin-bottom: 76px;
  }

  .extra__title {
    font-size: 36px;
    line-height: 1;
    transform: translate(0, -28px);
    margin-left: 0;
    margin-bottom: 0;
    padding: 0 38px;
    display: inline-block;
    vertical-align: top;
  }

  .extra__list {
    padding: 0;
    border: 2px solid $grey;
    border-top: none;
    margin: 50px 0;
    margin-bottom: 67px;
  }

  .extra__item {
    padding: 28px 38px;
    padding-bottom: 24px;
  }

  .extra__item:last-child {
    border-bottom: none;
  }

  .extra__item-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
  }

  .extra__item-title {
    font-size: 20px;
    margin: 0;
  }

  .extra__item-description {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .extra__value-description {
    margin-left: 49px;
  }
}

@media (min-width: $desktop) {
  .extra {
    margin-bottom: 0;
  }

  .extra__title {
    margin-left: -38px;
  }

  .extra__item-wrap {
    display: flex;
    justify-content: space-between;
    margin: 85px 0;
    margin-top: 53px;
  }

  .extra__list {
    border: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    margin-right: 80px;
  }

  .extra__item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    padding-bottom: 13px;
  }

  .extra__item:last-child {
    border-bottom: 1px solid $grey;
  }

  .extra__item-title {
    font-size: 20px;
  }

  .extra__item-inner {
    align-items: center;
    margin: 0;
    margin-right: 40px;
    flex-grow: 1;
  }

  .extra__item-description {
    width: 285px;
  }

  .extra__term-description,
  .extra__value-description {
    min-width: 50px;
  }

  .extra__link {
    width: 245px;
    font-size: 20px;
  }
}
