.features {
  //outline: 2px solid green;
}
.features__inner {
  padding-top: 15px;
  padding-bottom: 15px;
  outline: 2px solid green;
}
.features__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  //padding-bottom: 30px;
}
.features__item {
  display: flex;
  align-items: center;
  position: relative;
  list-style: none;
  margin: 10px 0;
  min-height: 60px;
  padding-left: 82px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background-color: $lightgreen;
  }
}
.features__paragraph {
  margin: 0;
}
@media (min-width: $tablet) {
  .features {
    border-bottom: 2px solid grey;
  }
  .features__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .features__item {
    padding-left: 0;
    width: 260px;
    padding-top: 120px;
    margin-right: 60px;
  }
}
