.page-footer {
  background-color: $lightgrey;
}

.page-footer__inner {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 38px 0;
  padding-bottom: 30px;
  border-bottom: 2px solid $grey;
  cursor: pointer;
  transition: 0.5s;

  &:active {
    opacity: 0.6;
  }
}

.copyrights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}

.copyrights__link {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: $black;
  transition: 0.5s;

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.copyrights__link-logo {
  display: flex;
  justify-content: end;
  width: 27px;
  height: 34px;
  transition: 0.5s;

  &:active svg {
    fill: rgba(104, 183, 56, 0.3);
  }
}

@media (min-width: $tablet) {
  .page-footer__inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .footer-logo {
    padding: 55px 0;
    border-bottom: none;
    margin-right: 19px;
  }

  .copyrights {
    padding: 52px 0;
  }

  .copyrights__link-logo {
    margin-left: 24px;
  }
}

@media (min-width: $desktop) {
  .footer-logo {
    padding: 100px 0;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  .copyrights {
    padding: 12px 0;
  }

  .copyrights__link {
    &:hover,
    &:focus {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  .copyrights__link-logo {
    &:hover svg,
    &:focus svg {
      fill: $lightgreen;
    }
  }
}
