.page-footer {
  background-color: $lightgrey;
}

.page-footer__inner {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 38px 0;
  padding-bottom: 30px;
  border-bottom: 2px solid $grey;

  &[href] {
    transition: 0.5s;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.copyrights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.copyrights__link-brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: $black;
  transition: 0.5s;

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.copyrights__link-logo {
  display: flex;
  justify-content: flex-end;
  width: 40px;
  height: 55px;
  transition: 0.5s;
  margin-right: -6px;

  &:active {
    fill: rgba(104, 183, 56, 0.3);
  }
}

@media (min-width: $tablet) {
  .page-footer__inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .footer-logo {
    padding: 44px 0;
    border-bottom: none;
    margin-right: 19px;
  }

  .copyrights {
    padding: 44px 0;
  }

  .copyrights__link-logo {
    margin-left: 18px;
  }
}

@media (min-width: $desktop) {
  .footer-logo {
    padding: 65px 0;

    &[href] {
      cursor: pointer;
    }

    &[href]:hover,
    &[href]:focus {
      opacity: 0.8;
    }
  }

  .copyrights {
    padding: 12px 0;
  }

  .copyrights__link-brand {
    &:hover,
    &:focus {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  .copyrights__link-logo {
    &:hover,
    &:focus {
      fill: $lightgreen;
    }
  }
}
