.page-header {
  background-color: $white;
}
.page-header__inner {
  display: flex;
  justify-content: space-between;
  width: $mobile;
  margin: 0 auto;
  position: relative;
  min-height: 66px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 191px;
  height: 66px;
  padding-left: 20px;
  padding-right: 0;
  z-index: 2;
  margin: 0;
  margin-right: -191px;
}
.main-nav {
  position: relative;
  flex-grow: 1;
  &--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    right: 20px;
    width: 25px;
    height: 3px;
    background-color: $black;
    box-shadow: 0 8px 0 0 $black, 0 -8px 0 0 $black;
  }
  &--opened .main-nav__toggle::before,
  &--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    right: 20px;
    width: 34px;
    height: 2px;
    background-color: $black;
  }
  &--opened .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none;
  }
  &--opened .main-nav__toggle::after {
    transform: rotate(-45deg);
  }
  &--nojs .main-nav__toggle {
    display: none;
  }
  &--nojs .main-nav__list {
    display: block;
  }
}
.main-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 66px;
}
.main-nav__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  border-top: 2px solid $grey;
}
.main-nav__link {
  font-family: 'Oswald', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
  padding: 23px 0;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  width: 70px;
  height: 65px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
@media (max-width: $except) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
  .main-nav--opened .main-nav__list {
    display: block;
  }
}

@media (min-width: $tablet) {
  .page-header__inner {
    width: $tablet;
    padding: 0 30px;
    margin: 0 auto;
    min-height: 98px;
    position: static;
    align-items: center;
  }
  .logo {
    width: 173px;
    height: 98px;
    position: static;
    z-index: 0;
    margin-right: 0;
    outline: 1px solid orange;
  }
  .main-nav {
    position: static;
    flex-grow: 0;
    margin: 0;
  }
  .main-nav__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    width: 488px;
    outline: 1px solid green;
  }
  .main-nav__item {
    position: static;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      background-color: transparent;
    }
  }
  .main-nav__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding: 17px 0;
  }
  .main-nav__toggle {
    display: none;
  }

}
