.page-header {
  background-color: $white;
}
.page-header__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 66px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 191px;
  height: 66px;
  padding-left: 0;
  padding-right: 0;
  z-index: 2;
  margin: 0;
  margin-right: -191px;
}
.main-nav {
  position: relative;
  flex-grow: 1;
  margin: 0 auto;
  &--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    right: 0;
    width: 25px;
    height: 3px;
    background-color: $black;
    box-shadow: 0 8px 0 0 $black, 0 -8px 0 0 $black;
  }
  &--opened .main-nav__toggle::before,
  &--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    right: 0;
    width: 34px;
    height: 2px;
    background-color: $black;
  }
  &--opened .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none;
  }
  &--opened .main-nav__toggle::after {
    transform: rotate(-45deg);
  }
  &--nojs .main-nav__toggle {
    display: none;
  }
  &--nojs .main-nav__list {
    display: block;
  }
  &--closed .main-nav__list {
    display: none;
  }
  &--opened .main-nav--list {
    display: block;
  }

}
.main-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 66px;
}
.main-nav__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  &::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 0;
    width: $mobile;
    height: 2px;
    background-color: $grey;
  }
}
.main-nav__link {
  font-family: 'Oswald', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
  padding: 23px 0;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  width: 70px;
  height: 65px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
