.page-header {
  background-color: $white;
}

.page-header__inner {
  display: flex;
  justify-content: space-between;
  width: $mobile;
  margin: 0 auto;
  position: relative;
  min-height: 66px;
}

.logo {
  display: flex;
  justify-content: center;
  position: relative;
  width: 211px;
  padding: 14px 0;
  padding-left: 20px;
  z-index: 2;
  margin: 0;
  margin-right: -211px;
  transition: 0.5s;

  &:active {
    opacity: 0.6;
  }
}

.main-nav {
  position: relative;
  flex-grow: 1;

  &--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    right: 20px;
    width: 25px;
    height: 3px;
    background-color: $black;
    box-shadow: 0 8px 0 0 $black, 0 -8px 0 0 $black;
  }

  &--opened .main-nav__toggle::before,
  &--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    right: 20px;
    width: 34px;
    height: 2px;
    background-color: $black;
  }

  &--opened .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &--opened .main-nav__toggle::after {
    transform: rotate(-45deg);
  }

  &--nojs .main-nav__toggle {
    display: none;
  }

  &--nojs .main-nav__list {
    display: block;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 66px;
}

.main-nav__item {
  position: relative;
  list-style: none;
  padding: 0;
  border-top: 2px solid $grey;
}

.main-nav__link {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
  padding: 23px 0;
  transition: 0.5s;

  &[href]:active {
    opacity: 0.3;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  width: 70px;
  height: 65px;
  background-color: transparent;
  border: none;
}

@media (max-width: $except) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    display: block;
  }
}

@media (min-width: $tablet) {
  .page-header__inner {
    width: $tablet;
    padding: 0 30px;
    min-height: 108px;
    position: static;
  }

  .logo {
    width: 172px;
    padding: 24px 0 24px;
    position: static;
    z-index: 0;
    margin-right: 0;
  }

  .main-nav {
    position: static;
    flex-grow: 0;
    margin: 0;
  }

  .main-nav__list {
    flex-direction: row;
    justify-content: space-between;
    padding: 26px 0;
    width: 438px;
  }

  .main-nav__item {
    position: static;
    border-top: none;
  }

  .main-nav__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding: 16px 0;

    &--active {
      border-bottom: 1px solid $lightgreen;
    }
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop) {
  .page-header__inner {
    position: relative;
    width: $desktop;
    padding: 0 40px;
    min-height: 150px;
    z-index: 10;
  }

  .logo {
    width: 202px;
    padding: 45px 0;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  .main-nav__list {
    width: 480px;
    padding: 44px 0;
  }

  .main-nav__link {
    font-size: 20px;
    padding: 17px 0;
    cursor: pointer;

    &--color {
      color: $white;
    }

    &--active-color {
      border-bottom: 1px solid $white;
    }

    &[href]:hover,
    &[href]:focus {
      opacity: 0.6;
    }
  }
}
