.present {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 290px;
  background: $lightgreen;
  padding: 0 58px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.present__paragraph {
  margin-top: auto;
  font-size: 16px;
  line-height: 20px;
  color: $white;
}
