.present {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 290px;
  background-color: $lightgreen;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 58px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  text-align: center;
  cursor: pointer;
}

.present__paragraph {
  margin-top: auto;
  font-size: 16px;
  line-height: 20px;
  color: $white;
}

@media (min-width: $tablet) {
  .present {
    height: 200px;
    padding: 66px 90px;
    padding-right: 115px;
    text-align: left;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
  }

  .present__paragraph {
    margin-left: auto;
    width: 170px;
  }
}

@media (min-width: $desktop) {
  .present {
    width: 245px;
    height: 289px;
    padding: 40px;
    text-align: center;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    margin-bottom: 0;
  }

  .present__paragraph {
    margin: 0;
    margin-top: auto;
  }
}
