.program {
  //**
}
.program__inner {
  outline: 2px solid red;
}

.program__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}
.program__item {
  //min-height: 265px;
  list-style: none;
  background-color: $lightgrey;
  padding: 0 20px;
  margin: 10px 0;
}
.program__title {
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
  padding-left: 72px;
}
.program__description {
  margin: 0;
  padding-bottom: 15px;
  border-bottom: 2px solid $grey;
}
.program__link {
  display: block;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
  padding: 15px 0;
}
@media (min-width: $tablet) {
  .program__list {
    padding-top: 0;
  }
  .program__item {
    padding: 55px;
    margin: 0;
    margin-bottom: 35px;
  }
  .program__title {
    padding-left: 0;
    font-size: 36px;
    line-height: 37px;
  }
  .program__description {
    border: none;
    width: 372px;
  }
  .program__link {
    font-size: 20px;
    line-height: 20px;
  }
}
