.program {
  margin: 0;
}

.program__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.program__item {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: $lightgrey;
  padding: 20px;
  padding-bottom: 0;
  margin: 10px 0;
}

.program__title {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  padding: 10px 0;
  padding-left: 72px;

  &::before {
    content: "";
    position: absolute;
    left: 2px;
    top: 5px;
    width: 50px;
    height: 51px;
    background-color: $lightgreen;
    border-radius: 50%;
  }

  &--slim {
    &::after {
      content: "";
      position: absolute;
      left: 10px;
      top: 2px;
      width: 37px;
      height: 57px;
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
    }
  }

  &--pro {
    &::before {
      height: 50px;
    }

    &::after {
      content: "";
      position: absolute;
      left: -8px;
      top: 15px;
      width: 70px;
      height: 32px;
      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
    }
  }
}

.program__description {
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 2px solid $grey;
}

.program__link {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
  margin-top: auto;
  padding: 20px 0;
  padding-right: 146px;

  &::after {
    position: absolute;
    content: "";
    top: 5px;
    left: 96px;
    width: 25px;
    height: 46px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.35s;
  }

  &:active {
    opacity: 0.3;

    &::after {
      width: 37px;
      background-image: url("../img/icon-right-arrow-verylong.svg");
      background-size: 37px;
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet) {
  .program__list {
    padding-top: 0;
  }

  .program__item {
    padding: 67px 53px;
    padding-bottom: 42px;
    padding-right: 270px;
    margin: 0;
    margin-bottom: 30px;
  }

  .program__title {
    padding-left: 0;
    font-size: 36px;
    line-height: 37px;
    margin-bottom: 17px;

    &::before {
      position: absolute;
      content: "";
      left: 395px;
      top: 28px;
      width: 200px;
      height: 200px;
      background-color: $lightgreen;
      border-radius: 50%;
    }

    &--slim {
      &::after {
        content: "";
        position: absolute;
        left: 425px;
        top: 15px;
        width: 147px;
        height: 195px;
        background-image: url("../img/icon-cat-slim.svg");
        background-repeat: no-repeat;
      }
    }

    &--pro {
      &::after {
        content: "";
        position: absolute;
        left: 358px;
        top: 68px;
        width: 272px;
        height: 173px;
        background-image: url("../img/icon-cat-pro.svg");
        background-repeat: no-repeat;
      }
    }
  }

  .program__description {
    border: none;
    margin-bottom: 15px;
    padding-right: 40px;
  }

  .program__link {
    font-size: 20px;
    line-height: 20px;
    padding-right: 260px;

    &::after {
      left: 132px;
      height: 50px;
    }
  }
}

@media (min-width: $desktop) {
  .program {
    margin: 80px 0;
    margin-bottom: 60px;
  }

  .program__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .program__item {
    padding: 45px 52px;
    padding-bottom: 51px;
    margin: 0;
    width: 570px;
  }

  .program__title {
    margin: 0;
    margin-bottom: 42px;
    padding: 32px 0;
    padding-left: 163px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100px;
      height: 100px;
      background-color: $lightgreen;
      border-radius: 50%;
    }

    &--slim {
      &::after {
        content: "";
        position: absolute;
        left: 15px;
        top: -6px;
        width: 80px;
        height: 98px;
        background-image: url("../img/icon-cat-slim.svg");
        background-repeat: no-repeat;
      }
    }

    &--pro {
      &::after {
        content: "";
        position: absolute;
        left: -20px;
        top: 25px;
        width: 138px;
        height: 63px;
        background-image: url("../img/icon-cat-pro.svg");
        background-repeat: no-repeat;
      }
    }
  }

  .program__description {
    padding-right: 0;
    margin-bottom: 0;
  }

  .program__link {
    padding: 10px 0;
    padding-right: 345px;

    &::after {
      top: -5px;
      left: 130px;
    }

    &:hover {
      &::after {
        width: 37px;
        background-image: url("../img/icon-right-arrow-verylong.svg");
        background-size: 37px;
      }
    }
  }
}
