.promo {
  background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient($lightgreen 305px, $white 305px, $white 484px);


  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: contain;
  }
  background-position: top center;
  background-repeat: no-repeat;
  margin-bottom: 15px;
}

.promo__inner {
  display: flex;
  flex-direction: column;
  min-height: 484px;
  text-align: center;
  padding-top: 30px;
  color: $white;
  background-image: url("../img/index-can-mobile@1x.png");
  background-position: bottom 45px center;
  background-repeat: no-repeat;
  background-size: 280px 270px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-can-mobile@2x.png");
  }
}

.promo__title {
  line-height: 36px;
  margin: 0;
}

.promo__paragraph {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__link-button {
  margin-top: auto;
  font-size: 14px;
  line-height: 18px;
  padding: 11px 0;
}

@media (min-width: $tablet) {
  .promo {
    background-image: none;
    background-color: $white;
  }

  .promo__inner {
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 709px 609px;
    min-height: 852px;
    padding-top: 50px;
    padding-left: 119px;
    padding-right: 75px;
    text-align: left;
    color: $black;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
    }
  }

  .promo__title {
    line-height: 60px;
  }

  .promo__paragraph {
    font-size: 20px;
    line-height: 20px;
    margin: 30px 0;
    margin-bottom: 40px;
  }

  .promo__link-button {
    margin: 0;
    margin-top: 0;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 0;
    width: 245px;
  }
}

@media (min-width: $desktop) {
  .promo {
    position: relative;
    margin-top: -150px;
    height: 696px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background-color: $lightgreen;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-position: top right;
      background-repeat: no-repeat;
      background-size: auto 696px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }

    &::after {
      position: absolute;
      content: "";
      bottom: 60px;
      left: calc(50% - 160px);
      width: 552px;
      height: 499px;
      background-image: url("../img/index-can-desktop@1x.png");
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: 552px 499px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-can-desktop@2x.png");
      }
    }
  }

  .promo__inner {
    background: none;
    padding: 200px 120px;
  }

  .promo__title {
    width: 418px;
  }
}
