.promo {
  //background: $lightgreen;
  background-image: url('../../img/index-background-mobile@1x.jpg'), linear-gradient($lightgreen 305px, $white 305px, $white 484px);
  background-position: top 0 left calc(100% / 2), top 0 left 0;
  background-repeat: no-repeat;
}
.promo__inner {
  outline: 2px solid violet;
  display: flex;
  flex-direction: column;
  min-height: 484px;
  text-align: center;
  padding-top: 40px;
  background-image: url('../../img/index-can-mobile@1x.png');
  background-position: bottom 46px left calc(100% / 2);
  background-repeat: no-repeat;
}
.promo__title {
  line-height: 36px;
  color: $white;
  margin: 0;

}
.promo__paragraph {
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 14px;
  color: $white;
  line-height: 14px;
  text-transform: uppercase;
}
.promo__link-button {
  margin: 3px 0;
  margin-top: auto;
  font-size: 14px;
  line-height: 18px;
  padding: 11px 0;
}

@media (min-width: $tablet) {
  .promo {
    background-image: none;
    background-color: $white;
  }
  .promo__inner {
    background-image: url('../../img/index-can-tablet@1x.jpg');
    background-position: bottom 0 left calc(100% / 2);
    background-repeat: no-repeat;
    min-height: 852px;
    padding-left: 119px;
    padding-right: 75px;
    text-align: left;
  }
  .promo__title {
    color: $black;
    line-height: 60px;
    margin-bottom: 30px;
  }
  .promo__paragraph {
    color: $black;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 40px;
  }
  .promo__link-button {
    margin: 0;
    margin-top: 0;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 0;
    width: 245px;
  }
}

