.show-goods {
  border-bottom: 2px solid $grey;
}
.show-goods__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.show-goods__offers {
  background-color: $white;
  color: $black;
}
.show-goods__paragraph {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 20px;
}
.show-goods__link {
  background-color: $lightgrey;
  color: $black;
}
