.slider__list {
  position: relative;
  width: $mobile;
  height: 240px;
  margin: 0 auto;
  padding: 0;
  z-index: 10;
}

.slider__item {
  list-style: none;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}

.slider__item img {
  display: block;
  width: $mobile;
  height: 100%;
  object-fit: cover;
  object-position: left center;
}

.slider__controls {
  position: relative;
  z-index: 10;
  width: $mobile;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 20px;
}

.slider__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed;
  transition: 0.5s;

  &:active {
    border-bottom: none;
  }

  &--prev {
    margin-right: 15px;
  }

  &--next {
    margin-left: 15px;
  }
}

/*
.slider-hidden {
  display: none;
}
*/

.slider__range-filter {
  position: relative;
  z-index: 10;
}

.slider__range-line {
  display: flex;
  width: 84px;
  background-color: $white;
  padding: 6px;
  height: 6px;
  border: 1px solid $grey;
  border-radius: 5px;
}

.slider__range-btn {
  position: absolute;
  content: "";
  top: 4px;
  left: 3px;
  width: 35px;
  height: 6px;
  background-color: $lightgreen;
  border: none;
  border-radius: 5px;
  cursor: ew-resize;
}

@media (min-width: $tablet) {
  .slider {
    margin-top: 80px;
  }

  .slider__list {
    width: 690px;
    height: 517px;
    margin-bottom: 27px;
  }

  .slider__item {
    &--prev {
      &::before {
        position: absolute;
        content: "";
        z-index: -1;
        bottom: 0;
        left: 0;
        height: 347px;
        width: 100%;
        background-color: $lightgrey;
      }

      &::after {
        position: absolute;
        content: "";
        z-index: -1;
        top: 0;
        left: 0;
        height: calc(100% - 347px);
        width: 100%;
        background-color: $white;
      }
    }
  }

  .slider__item img {
    width: 690px;
  }

  .slider__controls {
    width: $tablet;
    margin: 0 auto;
    padding: 0 30px;
  }

  .slider__range-filter {
    position: relative;
    width: 428px;
  }

  .slider__range-line {
    width: 100%;
    background-color: $grey;
    height: 6px;
    padding: 0;
  }

  .slider__range-btn {
    top: calc(50% - 18px);
    left: calc(50% - 18px);
    width: 36px;
    height: 36px;
    background-color: $lightgreen;
    box-shadow: 0 0 0 3px #e6e6e6;
    border: 12px solid $white;
    border-radius: 50%;
    transition: 0.5s;
    cursor: ew-resize;

    &:active {
      box-shadow: 0 0 0 5px $lightgreen;
    }
  }
}

@media (min-width: $desktop) {
  .slider {
    margin-top: 0;
  }

  .slider__list {
    margin-bottom: 45px;
  }

  .slider__item {
    margin: 0;

    &--prev {
      &::before {
        height: 319px;
      }

      &::after {
        height: calc(100% - 319px);
      }
    }
  }

  .slider__controls {
    width: 610px;
    margin: 0 auto;
    padding: 0;
  }

  .slider__description {
    cursor: pointer;

    &:hover,
    &:focus {
      border-bottom: 1px solid;
    }
  }

  .slider__range-btn:hover,
  .slider__range-btn:focus {
    box-shadow: 0 0 0 5px #e6e6e6;
  }
}
