.social {
  display: flex;
  justify-content: center;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid $grey;
  margin: 0 auto;
}

.social li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  padding: 22px;
  cursor: pointer;
  outline: 1px solid red;

  /*&:active path {
    fill: rgba(104, 183, 56, 0.3);
  }*/

   &:active svg{
    fill: rgba(104, 183, 56, 0.3);
  }
}

@media (min-width: $tablet) {
  .social {
    border-bottom: none;
  }
}

@media (min-width: $desktop) {
  .social__link {
    &:hover svg,
    &:focus svg {
      fill: $lightgreen;
    }
  }
}
