.social {
  display: flex;
  justify-content: center;
  padding: 0;
  //padding-top: 20px;
  //padding-bottom: 20px;
  border-bottom: 2px solid $grey;
  margin: 0 auto;
  width: 280px;
}

.social li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  padding: 22px;
  padding-bottom: 17px;
  cursor: pointer;
  transition: 0.5s;

  &:active svg {
    fill: rgba(104, 183, 56, 0.3);
  }
}

@media (min-width: $tablet) {
  .social {
    border-bottom: none;
  }

  .social__link {
    padding: 22px 14px;

    &--vk svg {
      width: 30px;
      height: 16px;
    }

    &--insta svg {
      width: 23px;
      height: 23px;
    }

    &--fb svg {
      width: 14px;
      height: 28px;
    }
  }
}

@media (min-width: $desktop) {
  .social__link {
    &:hover svg,
    &:focus svg {
      fill: $lightgreen;
    }
  }
}
