.social {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid $grey;
  padding: 0;
  margin: 0;
}
.social li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid $lightgreen;
  border-radius: 50%;
}
.social__link {
  padding: 20px;
  cursor: pointer;
}
@media (min-width: $tablet) {
  .social {
    border-bottom: none;
  }
}
