.social {
  display: flex;
  padding: 0 63px;
  border-bottom: 2px solid $grey;
  margin: 0 auto;
  width: 280px;
}

.social li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 17px;
}

.social__link {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 17px;
  cursor: pointer;

  & svg {
    transition: 0.35s;
  }

  &--vk svg {
    width: 22px;
    height: 12px;
  }

  &--insta svg {
    width: 16px;
    height: 16px;
  }

  &--fb svg {
    width: 10px;
    height: 19px;
  }

  &:active svg {
    fill: rgba(104, 183, 56, 0.3);
  }
}

@media (min-width: $tablet) {
  .social {
    border-bottom: none;
    padding: 0 66px;
  }

  .social li {
    margin-right: 10px;
  }

  .social__link {
    &--vk svg {
      width: 30px;
      height: 16px;
    }

    &--insta svg {
      width: 23px;
      height: 23px;
    }

    &--fb svg {
      width: 14px;
      height: 28px;
    }
  }
}

@media (min-width: $desktop) {
  .social__link {
    &:hover svg,
    &:focus svg {
      fill: $lightgreen;
    }
  }
}
