.user-data__paragraph {
  font-family: 'Oswald', 'Arial', sans-serif;
  text-transform: uppercase;
  padding: 10px 20px 7px;
}
.form__info-cat,
.form__radio,
.form__contacts,
.form__area,
.form__checkbox {
  border: none;
  width: $mobile;
  margin: 0 auto;
  padding: 15px 20px;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 16px;
}
.form__info-cat,
.form__radio {
  border-bottom: 2px solid $grey;
}
.form__contacts,
.form__area,
.form__checkbox {
  border-top: 3px solid $lightgreen;
  margin-bottom: 13px;
}
.form__radio {
  margin-bottom: 42px;
}
.form__list {
  margin: 0;
  padding: 0;
}
.form__title {
  display: inline-block;
  vertical-align: top;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 30px;
  margin-top: -33px;
  background-color: $white;
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 25px;
  &--contacts {
    width: 242px;
  }
}
.form__item,
.form__item-button {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-transform: uppercase;
}
.form__label {
  margin-right: 8px;

}
.form__input {
  flex-grow: 1;
  font-family: 'Oswald', 'Arial', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $black;
  padding: 13px 15px;
  margin: 8px 0;
  border: 1px solid $grey;
}
.form__label-button {
  flex-grow: 1;
  padding: 14px 0;
  padding-left: 47px;
}
.form__area-description {
  font-family: 'Oswald', 'Arial', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $black;
  padding: 10px;
  width: 100%;
  min-height: 150px;
}
.form__button-wrap {
  text-align: center;
  padding-bottom: 20px;
}
.form__button {
  width: 280px;
  margin: 0 auto;
}
.form__required-field {
  line-height: 16px;
  padding-top: 10px;
}
@media (min-width: $tablet) {
  .user-data__paragraph {
    font-size: 20px;
    line-height: 30px;
    padding: 35px 70px 35px;
  }
  .form {
    padding: 36px 0;
  }
  .form__info-cat,
  .form__radio,
  .form__contacts,
  .form__area,
  .form__checkbox {
    width: $tablet;
    padding: 36px 70px;
    font-size: 20px;
    line-height: 20px;
  }
  .form__info-cat,
  .form__radio {
    border-bottom: none;
  }
  .form__input {
    font-size: 20px;
    line-height: 20px;
    padding: 16px 20px;
    margin: 11px 0;
  }
  .form__list {
    &--wrap {
      border: 1px solid $grey;
      margin: 18px 0;
      padding: 17px 0;
    }
    &--flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  .form__label-button {
    padding: 17px 0;
    padding-left: 88px;
    &--add {
      width: 283px;
      padding: 27px 0;
      padding-left: 56px;
    }
  }
  .form__radio {
    margin-bottom: 62px;
  }
  .form__area-description {
    font-size: 20px;
    line-height: 30px;
    padding: 15px 20px;
    min-height: 174px;
    margin: 10px 0;
  }
  .form__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 30px;
    margin-top: -62px;
    background-color: $white;
    margin-left: -20px;
    padding-left: 30px;
    padding-right: 40px;
    &--contacts {
      width: 640px;
    }
  }
  .form__button-wrap {
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding-bottom: 0;
    margin: 0 70px;
    margin-bottom: 36px;
  }
  .form__button {
    width: calc(50% - 80px);
    margin: 0;
  }
  .form__required-field {
    width: calc(50% - 80px);
    padding-top: 0;
  }

}
@media (min-width: $desktop) {
  .user-data__paragraph {
    padding: 35px 40px 35px;
  }
  .form__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $desktop;
    margin: 0 auto;
    padding: 0 40px;
    margin-bottom: 50px;
  }
  .form__info-cat,
  .form__radio {
    width: 570px;
    margin: 0;
    padding: 0;
  }
  .form__list {
    &--wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      height: 234px;
    }
  }

  .form__label-button {
    padding: 22px 0;
    padding-left: 88px;
    margin: 0;

  }

  .form__contacts,
  .form__area,
  .form__checkbox {
    width: $desktop;
  }
  .form__contacts,
  .form__area {
    padding: 90px 40px;
  }
  .form__checkbox {
    padding: 70px 40px;
  }
  .form__list--contacts {
    display: flex;
    justify-content: space-between;
  }
  .form__item--contacts {
    width: 570px;
  }
  .form__title {
    margin-top: -115px;
    &--add {
      margin-top: -95px;
    }
  }
  .form__area-description {
    min-height: 179px;
  }
  .form__label-button {
    &--add {
      width: 245px;
      padding: 0;
      padding-left: 58px;
    }
  }
  .form__button-wrap {
    margin: 0 40px;
    margin-bottom: 47px;
  }
}
