html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
.page {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $black;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: $mobile;
  margin: 0 auto;
  padding: 0 20px;
}

.page-title {
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  padding-top: 22px;
  padding-bottom: 22px;

}
.title {
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}
.link-button {
  //margin: 3px 0;
  display: block;
  width: 100%;
  background-color: $lightgreen;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
}
.line-grey {
  border-bottom: 2px solid $grey;
}
@media (min-width: $tablet) {
  .page {
    font-size: 16px;
    line-height: 24px;
  }
  .container {
    width: $tablet;
    padding: 0 30px;

  }
  .title {
    font-size: 60px;
  }
}
