$mobile: 320px;
$tablet: 768px;
$desktop: 1300px;
$except: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Цвета
$white: #ffffff;
$black: #000000;
$backcolor: #64a83b;
$lightgreen: #68b738;
$green: #5eaa2f;
$grey: #e6e6e6;
$lightgrey: #f2f2f2;
$darkgrey: #ebebeb;
$examplegrey: #eaeaea;
$rangecolor: #dcdcdc;
